/* Specify blanket rules for all elements */
body {
width:760px;
font-size:80%;
font-family:'Lucida Grande',Verdana,sans-serif;
margin: 10px;
}

/* Rules for headings */
h1 {
font-size:150%;
}
h2 {
font-size:140%;
}
h3 {
font-size:120%;
}
p {
font-size:100%;
line-height:150%;
}
/* Masthead */
#masthead {
margin:0 0 10px 0;
width:760px;
height:150px;
background:url(/images/mastheadback.gif) repeat-x;
}
#masthead h1 {
float:left;
margin:0;
padding:0;
}
.searchbox {
float:right;
width:220px;
margin:15px;
}
.searchbox legend {
border:1px solid #666;
padding:3px;
background-color:#CCC;
}
.searchbox input {
border:3px double #666;
}
img {
border:0;
}

/* Conatiner that holds all columns */
#container {
background:url(/images/faux.gif) repeat-y;
}


/* Content */
#content {
margin-left:200px;
margin-right:0;
padding:10px;
background-color:#CCC;
width:540px;
voice-family:"\"}\"";
voice-family:inherit;
width:540px;
}
html>body #content {
width:540px;
}

/* Sidebar A */
#sidebar_a {
float:left;
background-color:#999;
padding:10px;
width:180px;
voice-family:"\"}\"";
voice-family:inherit;
width:160px;
}
html>body #sidebar_a {
width:160px;
}
#sidebar_a ul {
width:160px;
padding:0;
  list-style-type:none;
  font: bold 12px 'Lucida Grande',Verdana,sans-serif;
}
#sidebar_a li {
  background: #DDD;
  margin: 0;
  padding: 2px 10px;
  border-left: 1px solid #FFF;
  border-top: 1px solid #FFF;
  border-right: 1px solid #666;
  border-bottom: 1px solid #AAA;
}
/* Footer */
#footer {
clear:both;
margin:10px 0 0 0;
padding-top:15px;
background:url(/images/bubble_footer.jpg) no-repeat;
height:128px;
width:760px;
}
#footer p {
margin:0px 0 6px 35px;
padding:0;
width:330px;
font:13px/120% normal Verdana,Arial,sans-serif;
}